#menu {
    position: absolute;
    background-color: white;
    border: 2px inset gray;
    z-index: 1;
}

#tags {
    margin-left: 1em;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#grid {
    width: 80%;
    aspect-ratio: 1;
    touch-action: pinch-zoom;
}

.highlight {
    border-bottom: 5px solid red;
}

select {
    field-sizing: content;
}

input {
    width: 10%;
}